.btt_btn {
  padding: 10px!important;
  border-radius: 50%; 
  background-color: #996515; 
  color: #fff;
  opacity: .6;
}
.btt_btn:hover {
  color: #fff;
  opacity: .7;
}
.center {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.qualifications_card {
  width: 97%;
  border-bottom: 2px solid #996515;
  text-align: justify; 
  text-justify: inter-word;
}
.qualifications_card .quali-head-title {
  font-size: 16px;
}
.quali-label, .quali-input, .quali-select {
  font-size: 14px!important;
  color: #212529!important;
  opacity: .8;
}
input[type="radio"],
label.radio {
  cursor: pointer;
}
label.radio:hover {
  text-decoration: underline;
}
p.snote {
  font-size: 15px!important;
  color: #212529!important;
  opacity: .8;
}
.preregister-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 4%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input,
input::placeholder {
    font-size: 13px!important;
}
select,
option {
  font-size: 13px!important;
}
small.guide {
  font-size: 13px!important;
  color: #212529!important;
  opacity: .8;
}

label {
  font-size: 13px!important;
  color: #1c2d41;
}
label.typeform {
  font-size: 16px!important;
  color: #1c2d41;
  font-weight: 600;
  border-bottom: 2px solid #996515!important;
}
.radio {
  cursor: pointer;
}
.radio:hover {
  text-decoration: underline;
}

input.is-optional {
  border: 1px solid #fdc16a;
}
input.is-default {
  border: 1px solid #5F76E8!important;
}
span.age {
  font-size: 13px;
}
.col-form-label {
  font-size: 15px!important;
}